<nav
  style="margin-top: 20px"
  class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded"
>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:sivaramakrisjnan2019sk@gmail.com">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">About me</a>
    </li>
  </ul>
</nav>
