<div> 
  <div class="tech container p-5">
    <h2>Technology in Familiar</h2>
      <div class="familiar d-flex justify-content-around">
          <div class="programming p-4">
            <h4>Programming Language</h4>
            <div class="d-flex  justify-content-around p-3">
              <div>
                <img src="/static/python.png" height="50px"      width="50px">
                <h6>python</h6>
              </div>
              <div>
                <img src="/static/js.png" height="50px" width="50px">
                <h6>JavaScript</h6></div>
              </div>
            </div>
          <div class="Frameworks p-4 d-flex">
            <h4>Frameworks</h4>
            <div>
               <img src="/static/flask.png" height="50px"      width="50px">
              <h6>Flask</h6>
             <img src="/static/bts.png" height="50px"      width="50px">
            <h6>Bootstrap</h6>
             <img src="/static/django.png" height="50px"      width="50px">
            <h6>Django</h6>
             <img src="/static/react.png" height="50px"      width="50px">
            <h6>Raect.js</h6>
          </div>
      </div>
  </div>

</div>
    