<div> 
  <div class="tech container">
    <h2>Technology in Familiar</h2>
      <div class="familiar d-flex justify-content-evenly">
          <div class="programming d-flex justify-content-evenly">
            <h4>Programming Language</h4>
            <img src="/static/python.png" height="50px"      width="50px">
            <h6>python</h6>
            <img src="/static/js.png" height="50px" width="50px">
            <h6>JavaScript</h6>
          </div>
          <div class="Frameworks ">
            <h4>Frameworks</h4>
             <img src="/static/flask.png" height="50px"      width="50px">
            <h6>Flask</h6>
             <img src="/static/bts.png" height="50px"      width="50px">
            <h6>Bootstrap</h6>
             <img src="/static/django.png" height="50px"      width="50px">
            <h6>Django</h6>
             <img src="/static/react.png" height="50px"      width="50px">
            <h6>Raect.js</h6>
          </div>
      </div>
  </div>

</div>
    